/* Root for main colors used throughout webpage */
:root {
    --main-text-color: #004d91;
    --bkgrd-color: #fff;
    --header-bkgrd: rgb(87, 104, 255);
}

/* Wildcard to apply attributes to all selectors */
* {
    font-family: 'Helvetica', 'Arial', serif;
    line-height: 1.5;
}

/* Body of page */
body {
    font-family: 'Helvetica', 'Arial', serif;
    min-height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* "Stewart" part of page, with border around name */
h1 {
    display: inline-block;
    border: 2px solid var(--main-text-color);
    border-radius: 3px;
    font-size: 200%;
    color: var(--main-text-color);
    background-color: var(--header-bkgrd);
}

/* Main text on crystal image and section names within the body */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: var(--main-text-color);
}

/* Top part of page above crystal image, includes "Stewart" and the four sections on right, with downloadable resume */
.main-header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1%;
    background-color: rgb(118, 222, 253);
    color: #fff;
    font-weight: 800;
}

/* Crystal image */
img {
    position: relative;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

/* Main text box on crystal image */
.sub-header h2 {
    display: block;
    position: absolute;
    bottom: 650px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--header-bkgrd);
    color: var(--main-text-color);
    font-weight: 800;
}

/* Navigation elements for About Me, Work, Contact, and Resume */
nav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: #8ac8ff;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

/* Main content of page */
main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
    flex-wrap: wrap;
}

/* Trying to place About Me, Work, and Contact to the side */
.sidebar {
    display: flex;
}

/* The lines alongside the three titles in main (About Me, Work, Contact) */
.side-design {
    border-right: thick solid var(--main-text-color);
    text-indent: 50px;
    /* padding: 5% 1em;
    margin-top: 10px;
    font-size: 150%;
    color: var(--main-text-color);
    background-color: #fff;
    align-items: flex-start;
    display: block;
    flex-direction: column; */
}

/* About Me section */
.about-me {
    text-indent: 30px;
    margin: 2% 0;
    font-size: 80%;
}

/* Work section using Grids */
.work {
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;

    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.work:first-child {
    grid-column-start: 1;
    grid-row: 1 / span 2;
}

/* Needs to hover over each box for preview */
.work:hover {
    box-shadow: inset 0px 0px 8px rgb(138, 138, 138),
    0 0 15px rgb(17, 16, 17);
}

/* Contact section */
.contact {
    border-bottom: var(--main-text-color);
}

/* Media queries for size adjustments */
@media screen and (max-width: 992px) {
    main, nav {
    flex-basis: 40%;
    flex-direction: column;
    }
  }
  
@media screen and (max-width: 768px) {
    main, nav {
      flex-basis: 100%;
      margin: 1em 0;
      flex-direction: column;
    }
  }