/* Root for main colors used throughout webpage */
:root {
    --main-text-color: #1583e2;
    --main-bkgrd-color: rgb(118, 222, 253);
    --header-bkgrd: rgb(7, 21, 148);
    --bkrd-color: #5d48d3;
    --text-shadow: black;
}

/* Wildcard to apply attributes to all selectors */
* {
    font-family: 'Helvetica', 'Arial', serif;
    font-size: 100%;
    line-height: 1.5;
}

/* Body of page */
body {
    min-height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: var(--bkrd-color);
}

/* Top part of page above crystal image, includes "Stewart" and the four sections on right, with downloadable resume */
.main-header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 2%;
    background-color: var(--main-bkgrd-color);
    color: var(--bkrd-color);
    font-weight: 800;
}


/* "Stewart" part of page, with border around name */
h1 {
    display: inline-block;
    height: auto;
    width: max-content;
    padding-right: 20px;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    font-size: 400%;
    color: var(--main-text-color);
    background-color: var(--header-bkgrd);
    text-shadow: 3px 4px 5px var(--text-shadow);
}

/* Main text on (well, under...) crystal image*/
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: var(--main-text-color);
    text-shadow: 3px 4px 5px var(--text-shadow);
}

/* Section names within the body  */
h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--main-text-color);
    border-bottom: var(--main-text-color);
    text-shadow: 2px 2px 5px var(--text-shadow);
}

/* Navigation elements for About Me, Work, Contact, and Resume */
nav {
    display: inline;
    justify-content: space-between;
    padding: 20px;
    color: #8ac8ff;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

/* Trying to fix ul design */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

/* Separated nav links out a bit better */
nav a {
    font-size: 120%;
    background-color: unset;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
  }

/* Crystal image */
img {
    /* position: relative; */
    object-fit: cover;
    height: 200px;
    width: 100%;
}

/* Main text box on crystal image */
.sub-header > h2 {
    display: inline-block;
    position: absolute;
    bottom: 700px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--header-bkgrd);
    color: var(--main-text-color);
    font-weight: 800;
    border-radius: 5px;
}

/* Main content of page */
main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
    flex-wrap: wrap;
}

/* Section for About Me, Work, Contact */
section {
    display: flex;
    flex-wrap: wrap;
}


/* To place About Me, Work, and Contact to the side */
.sidebar {
    display: table-row;
    position: static;
}

/* The lines alongside the three titles in main (About Me, Work, Contact) */
.side-design {
    border-right: thick solid var(--main-text-color);
    text-indent: 50px;
    /* position: static; */
}

/* About Me section */
.about-me {
    display: block;
    padding-left:15%;
    padding-right:5%;
    font-size: 120%;
}

/* About Me paragraph(s) */
.about-me > p {
    table-layout: row;
    color: white;
    text-shadow: 2px 2px 5px var(--text-shadow);
}

/* Work section using Grids (boxes) */
.work {
    display: grid;
    place-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    border: solid 5px var(--main-text-color);
    border-radius: 5px;
    filter: blur(4px);

}

/* Needs to hover over each box for preview */
.work:hover {
    text-decoration: none;
    filter: blur(0);
    background: rgb(0, 61, 228);
}

/* Creating text boxes for each of the work project titles */
.challenge_1, .challenge_3, .challenge_4, .challenge_5, .challenge_6 {
    margin-top: 20px;
    margin-left: 20px; 
    text-align: left;
    padding: 1%;
    background-color: var(--main-bkgrd-color);
    font-size: 25px;
    font-family: sans-serif;
    display: inline-block;
    height: auto;
    width: fit-content;
    border-radius: 5px;
}

/* Contact section */
.contact {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    border-bottom: var(--main-text-color);
    margin: 2%;
}

/* Contact section elements (phone number, email, GitHub, socials) */
.contact ul > li {
    display: inline-block;
    height: auto;
    width: fit-content;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px; 
    text-align: left;
    padding: 1%;
    background-color: var(--main-bkgrd-color);
    justify-content: space-between;
    padding: 20px;
    font-size: 120%;
    text-decoration-line: underline;
    text-decoration-color: var(--bkrd-color);
    text-decoration-thickness: 5px;
    text-decoration-style: wavy;
    border-radius: 5px;
}

/* Media queries for size adjustments */
@media screen and (max-width: 992px) {
    main, nav, .work, .side-design {
    flex-basis: 40%;
    flex-direction: column;
    }
  }
  
@media screen and (max-width: 768px) {
    main, nav, .work, .side-design {
      flex-basis: 100%;
      margin: 1em 0;
      flex-direction: column;
    }
  }
